* {
    padding: 0;
	margin: 0;
	list-style: none;
}

body {
	margin: 0 auto;
	max-width: 640px;
	background-color: #F0F5F9;
	color: #333;
	font-family: 'Microsoft YaHei';
	overflow: hidden!important;
}

.page{
	position: absolute;
    width: 100%;
    max-width: 640px;
}

/*切换动画*/
.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .5s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft .5s ease both;
}

.pt-page-moveToRight {
	-webkit-animation: moveToRight .5s ease both;
}

.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .5s ease both;
}
@-webkit-keyframes moveToLeft {
	to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
	to { -webkit-transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}

/*ERROR*/
#error_wrapper{
	background: #ECECEC;
}
#error_wrapper p:first-child {
    text-align: center;
    font-family: cursive;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 5px;
    color: #fff;
    margin-top: 100px;
}
#error_wrapper p:first-child span {
    cursor: pointer;
    text-shadow: 0px 0px 2px #686868,
 0px 1px 1px #ddd,
 0px 2px 1px #d6d6d6,
 0px 3px 1px #ccc,
 0px 4px 1px #c5c5c5,
 0px 5px 1px #c1c1c1,
 0px 6px 1px #bbb,
 0px 7px 1px #777,
 0px 8px 3px rgba(100, 100, 100, 0.4),
 0px 9px 5px rgba(100, 100, 100, 0.1),
 0px 10px 7px rgba(100, 100, 100, 0.15),
 0px 11px 9px rgba(100, 100, 100, 0.2),
 0px 12px 11px rgba(100, 100, 100, 0.25),
 0px 13px 15px rgba(100, 100, 100, 0.3);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
#error_wrapper p:not(:first-child) {
    text-align: center;
    color: #666;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
    letter-spacing: 1px;
    margin-top: 30px;
}
#error_wrapper .back{
    width: 100px;
    height: 25px;
    margin: 40px auto;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #686868, 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #777, 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px 10px 9px rgba(100, 100, 100, 0.2), 0px 8px 0px rgba(100, 100, 100, 0.25), 0px 0px 0px rgba(100, 100, 100, 0.3);
}
