/*----弹窗样式库----*/
#message_mask {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 20;
	background: white;
	opacity: 0;
}

.messge-box{
    width: 180px;
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 19;
    margin: 0px auto;
    font-size: 14px;
    color: white;
    text-align: center;
}
.message-mark{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background: black;
    opacity: 0.8;
     border-radius: 7px;
}
.messge-box-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 20px auto 10px auto;
    position: relative;
    overflow: hidden;
}

.info-icon {
  	background-position: 0px 0px!important;
}
.succee-icon {
    background-position: 0px -40px!important;
}


.message-toast-icon {
    background: url(../images/icons/toast-icon.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 40px;
    width: 40px;
}



#confirm-box{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 20;
    max-width: 640px;
}
#confirm-box .confirm-mask{
	    position: fixed;
    z-index: 5;
    width: 100%;
    background: black;
    height: 100%;
    opacity: 0.5;
     max-width: 640px;
}
#confirm-box .confirm{
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 140px;
    max-width: 640px;
    bottom: 0px;
}
#confirm-box .cancle{
    height: 40px;
    background: white;
    width: 94%;
    margin-left: 3%;
    border-radius: 8px;
    color: #057BFF;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
#confirm-box .ok{
    height: 40px;
    background: white;
    width: 94%;
    margin-left: 3%;
    border-radius: 0px 0px 8px 8px;
    color: red;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
#confirm-box .confirm-txt{
    height: 40px;
    background: white;
    width: 94%;
    margin-left: 3%;
    border-radius: 8px 8px 0px 0px;
    color: #9C9C9C;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #EAEAEC;
}
@-webkit-keyframes confirmUp{
	0%{
		-webkit-transform:translate(0px,170px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
	}
}
.confirmUp{
	-webkit-animation: confirmUp 0.3s 0s 1 forwards;
}
@-webkit-keyframes confirmDown{
	0%{
		-webkit-transform:translate(0px,0px);
	}
	100%{
		-webkit-transform: translate(0px,170px);
	}
}
.confirmDown{
	-webkit-animation: confirmDown 0.3s 0s 1 forwards;
}






#select_mask{
	width: 100%;
	max-width: 640px;
	position: fixed;
	top: 0px;
	height: 100%;
	background: black;
	z-index: 11;
	opacity: 0.5;
}
#select_picker{
	width: 100%;
	height: 245px;
	background: white;
	position: fixed;
	bottom: 0px;
	max-width: 640px;
	z-index: 12;
}
#select_header{
	height: 45px;
	line-height: 45px;
}
#select_cancle{
	color: #0097FF;
	margin-left: 15px;
	float: left;
}
#select_ok{
	color: #0097FF;
	float: right;
	margin-right: 15px;
}
#select_body{
	height: 200px;
	-webkit-mask: -webkit-gradient(linear,0% 30%,0% 100%,from(rgba(222,187,71,1)),to(rgba(36,142,36,0)));
}
#select_wrapper .m_select{
	height:40px ;
	line-height: 40px;
}
#select_wrapper{
	text-align: center;
	-webkit-mask: -webkit-gradient(linear,0% 30%,0% 0%,from(rgba(222,187,71,1)),to(rgba(36,142,36,0)));
}
#select_top{
    height: 1px;
    border-bottom: 1px solid #cccccc;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 120px;
}
#select_fotter{
    height: 1px;
    border-bottom: 1px solid #cccccc;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 80px;
}

@-webkit-keyframes selectUp{
	0%{
		-webkit-transform:translate(0px,285px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
	}
}
.selectUp{
	-webkit-animation: selectUp 0.3s 0s 1 forwards;
}
@-webkit-keyframes selectDown{
	0%{
		-webkit-transform:translate(0px,0px);
	}
	100%{
		-webkit-transform: translate(0px,285px);
	}
}
.selectDown{
	-webkit-animation: selectDown 0.3s 0s 1 forwards;
}


.pullDown{
	text-align: center;
	position: relative;
	height: 60px;
	line-height: 60px;
}
.pullDownIcon{
    width: 25px;
    position: absolute;
    top: 17px;
}
.pullDownLabel{
    font-size: 14px;
    margin-left: 30px;
    color: #828282;
}
.pullUp{
	text-align: center;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.pullUpIcon{
    width: 25px;
    position: absolute;
    top: 8px;
}
.pullUpLabel{
    font-size: 14px;
    margin-left: 30px;
    color: #828282;
}

.current_page{
	z-index: 1;
}


@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
.bounceIn{
	-webkit-animation:bounceIn 0.1s 0s 1 forwards;
}


#alert_mask{
	background: black;
	opacity: 0.8;
	position: fixed;
	z-index: 10;
	width: 100%;
	max-width: 640px;
	top: 0px;
	height: 100%;
}
#alert_box{
	background: white;
	position: fixed;
	width: 80%;
	left: 10%;
	z-index: 11;
	top: 10px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
}
#alert_title{
    color: #333;
    height: 40px;
    line-height: 40px;
}
#alert_txt{
	color: #888;
	padding: 10px 0px;
}
#alert_ok{
	color: #0BB20C;
	height: 42px;
	line-height: 42px;
	border-top: 1px solid #E6E6E6;
}
#alert_confirm,#alert_cancle{
	float: right;
	height: 42px;
	line-height: 42px;
	border-top: 1px solid #E6E6E6;
	color: #0BB20C;
}
#alert_cancle{
	color: #333;
	border-right: 1px solid #E6E6E6;
}
#alert_box input{
	    width: 80%;
    border: 1px solid #eeeeee;
    height: 30px;
    text-indent: 10px;
}


