#clip_image_wrapper{
    margin-top: 45px;
}
#clip_image_wrapper .clip_area {
	height: 240px;
}
#clip_image_wrapper .upload_btn,#clip_image_wrapper .clip_btn{
		background: #0097FF;
	text-align: center;
	margin: 10px auto;
	width: 80%;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	color: white;
}
#clip_image_wrapper .show {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
