#lazyload_wrapper{
    	width: 100%;
	height: 100%;
	font-size: 14px;
	max-width: 640px;
	margin-top: 45px;
}
#lazyload_wrapper .myimg{
	width: 200px;
	height: 200px;
	border-radius: 8px;
	display: block;
	margin: 5px auto;
}
