#preview_wrapper{
    	width: 100%;
	height: 100%;
	font-size: 14px;
	max-width: 640px;
	margin-top: 45px;
}
#preview_wrapper .prevoewImg{
	width: 40%;
	border-radius: 8px;
	display: block;
	margin: 5px auto;
}
